<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <title>Information de l'admin - {{title}}</title>
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, viewport-fit=cover'
    />

    <link rel='stylesheet' type='text/css' href={{css}} />
  </head>

  <body class='suggestion-user-email-message'>
    <header>
      <div class='logo'><img src={{{logo}}} alt={{logo}} /></div>
      <div class='header-text'>
        <h4>Ecole Saint Augustin Crémieu</h4>
      </div>
    </header>
    <main>
      <section class='introduction'>
        <h2>
          Bonjour
          {{firstname}}
        </h2>

      </section>
      <section class='message'>
        {{{content}}}
      </section>
    </main>
    <footer>
      <p> A tres bientot sur le site de l'école</p>
    </footer>
  </body>
</html>